@font-face {
    font-family: 'Abel';
    src: url('fonts/abel-regular.eot');
    src: url('fonts/abel-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/abel-regular.woff2') format('woff2'),
         url('fonts/abel-regular.woff') format('woff'),
         url('fonts/abel-regular.ttf')  format('truetype'),
         url('fonts/abel-regular.svg#Abel') format('svg');
}